*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    font-size: 20px;
}
body{
    background-image: url(./img/fundo-cidade-branco.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#logo-school{
    position: absolute;
    left: 22%;
    width: 500px;
    height: 200px;
    top: 8%;
}
#onibus-icon{
    width: 300px;
    height: 150px;
    background: url('./img/onibus.png') no-repeat center;
    background-size: contain;
    position: fixed;
    left: 120%;
    top: 70%;
    transition: left 2s linear;

}
#superior{
   position: absolute;
    left: 20%;
    top: 3%;
}
#inferior{
    position: absolute;
    top: 39%;
    left: 30%;
}
h1{
    font-size: 35px;
}
.log-user{
    background-color: white;
    height: 60px;
    width: 200px;
    border-color: white;
    border-radius: 30px;
    cursor: pointer;
}
.log-user:hover{
    background-color: rgb(188, 226, 252);
    border-color: rgb(188, 226, 252);
    transform: scale(1.1);
}
#entrar{
    position: absolute;
    bottom: 10%;
    left: 29%;
}
#cadastrar-se{
    position: absolute;
    bottom: 10%;
    left: 50%;
}
#onibus-icon.animar{
    left: -120%;
}

@media screen and (max-width: 667px) {
    * {
        font-size: 16px;
    }
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        background-image: url(./img/fundo-cidade-branco.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    #logo-school {
        position: static;
        width: 70%;
        margin-left: 13%;
        height: auto;  
        display: block;
        margin-top: 10%;
    }
    #superior{
        position: static !important;
        margin-top: 10%;
        width: 70%;
        text-align: center;

    }
    #inferior {
        margin-top: 10%;
        position: static;
        width: 70%;
        margin-left: 13%;
        text-align: center;
    }
    h1 {
        font-size: 20px;
    }
    #entrar{
        position: absolute;
        display: block;
        width: 70%;
        left: 13%;
        top: 65%;
    }
    #cadastrar-se{
        position: absolute;
        display: block;
        width: 70%;
        left: 13%;
        top: 80%;
    } 
    #onibus-icon {
        display: none;
    }
}